@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1{
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    color: #1F2937;
    text-align: center;
}
h2{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #1F2937;
    margin: 4%;;
}

.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image{
    box-shadow: 0 5px 8px 0 #757c85;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image img{
    max-height: 30vw;
    max-width: 30vw;
    height: auto;
    width: 100%;
}
p{
    font-family:"Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    color:#1F2937;
    margin:2%;

}
@media (max-width: 768px) {
    .image img{
        max-height: 65vw;
        max-width: 60vw;
    }
    .image{
        margin-bottom: 40px;
    }
 }

