@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.mobile,
.mobileNav {
  display: none;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.headerLogo,
.mainText {
  font-size: 24px;
  color: #f9faf8;
}

.nav {
  width: 30%;
}

nav a {
  color: #e5e7eb;
  padding: 3%;
}

strong {
  font-size: larger;
}

.bodyContainer {
  display: flex;
  flex: 4;
  padding: 8% 0;
  background-color: #1f2937;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.infoContainer{
  width: 70%;
  display: flex;
  margin: 0 auto;
}

.bodyContent {
  flex: 1;
  display: inline-block;
  align-content: center;
}

.mainText,
.heading {
  font-size: 48px;
  font-weight: 700;
  margin: 40px 0px;
}

.bodyContent p{
  color: #ffffff;
}

button {
  margin: 30px 0px;

  padding: 15px 20px;
  border-radius: 20px;
  background-color: #3882f6;
  color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover,
button:focus {
  background-color: #5591f6;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

.bodyImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0 2%;
  align-items: center;
  justify-content: flex-start;
}

.bodyImage img {
  max-height: 400px;
  width: auto;
  max-width: 65%;
  object-fit: contain;
  margin-left: 45%;

  border-radius: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  color: #1f2937;
}

.row1,
.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2% 0;
}

.heading {
  font-size: 36px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22%;
  height: 15rem;
  margin: 0px auto;
  padding: 10px;
  border: 2.5px solid #3882f6;
  border-radius: 20px;
}

.customer-review {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2% auto;
  max-width: 100%;
}

.review-body {
  font-style: italic;
  color: #374151;
  padding: 3% 0;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
}

.review-body p {
  margin: 0 auto;
  max-width: 70%;
}



.signup-section {
  background-color: #1980eeea;
  color: white;
  width: 60%;
  padding: 20px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
}

.signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signup-word {
  text-align: left;
}

.signup-call-to-action {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.signup-instruction {
  font-weight: 200;
  margin: 0;
}

.signup-button {
  background-color: #1980eeea;
  color: #ffffff;
  padding: 8px 35px;
  font-size: 1em;
  text-align: justify;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #ffffff; 
}


footer {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5% 0;
  margin-top: 2%; 
}
small {
  color: #e5e7eb;
}

.contact {
  width:15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin-right: 20%;
}

.footerLogo img {
  width: 15%;
  max-height: 80px;
  border-radius: 4px;
}
.backToTop {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 15%;
}

.backToTop img {
  width: 100%;
  max-width: 50px;
  border-radius: 25px;
}

@media only screen and (max-width: 1460px) {
  .row1,
  .row2 {
    width: 100%;
    padding: 0%;
  }
}

@media only screen and (max-width: 1320px) {
  .mainContainer {
    margin: 5% 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .box {
    height: 18rem;
  }
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    flex-direction: row;
    margin: 5% 0;
  }

  .row1,
  .row2 {
    flex-direction: column;
  }

  .box {
    margin: 5% 0%;
    width: 70%;
    height: 15rem;
  }

}

@media only screen and (max-width: 800px) {
  .box {
    margin: 5%;
    width: 80%;
  }

}

@media only screen and (max-width: 760px) {
 
  .nav {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .mobileNav {
    position: absolute;
    background-color: rgba(67, 78, 94, 0.98);
    top: 4.5rem;
    width: 34%;
  }

  .mobile:hover .mobileNav {
    display: block;
  }

  .mobileNav a {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0.5rem;
    border-bottom: 1px solid whitesmoke;
  }

  .headerContainer {
    justify-content: space-between;
    align-items: center;
  }


  .backToTop img {
    margin-top: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .bodyImage {
    display: none;
  }

  .box {
    height: 18rem;
  }


}

@media only screen and (max-width: 640px) {
  .bodyContent {
    display: none;
  }

  .backToTop {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .row1,
  .row2 {
    width: 70%;
  }

  .box {
    padding: 5%;
    height: 15rem;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    height: 18rem;
  }

}

@media only screen and (max-width: 400px) {
  .box {
    width: 100%;
  }

  .ceoHeading {
    text-align: center;
  }
}

aside.row1 i {
  font-size: 4em; 
}


@media (max-width: 600px) {
  footer {
    padding: 10px;
}

.footer, .contact, .backToTop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact {
    justify-content: space-around;
    width: 50%;
    margin-top: 10px;
}

.backToTop{
  display: none;
}

.footer small {
    width: 100%;
    text-align: center;
    order: -1;
}

.signup-section {
  width: 90%;
  padding: 10px;
}

.signup-content {
  flex-direction: column;
}

.signup-word p {
  text-align: center;
  padding-top: 10px;
}

.signup-button {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}


}